# Cache and compiled
bootstrap/compiled.php
.sass-cache
.php_cs.cache
_ide_helper.php
_ide_helper_models.php
coverage.xml
docs/api/index.html
docs/api/index.apib
tests/codeception/_output
*.sqlite_snapshot
resources/assets/js/routes.js

# Assets
*.css.map
*.js.map
public/builds

# Dependencies
node_modules
vendor

# Localization
*.mo
*.pot

# Development
.vagrant
Homestead.yaml
.env
