# Cache and compiled
bootstrap/compiled.php
public/app/ts/tsd.ts
.sass-cache
.php_cs.cache
_ide_helper.php
_ide_helper_models.php
coverage.xml
docs/api/index.html
docs/api/index.apib
tests/codeception/_output
*.sqlite_snapshot

# Assets
*.css.map
*.js.map
public/css
public/fonts
public/js
public/sass/font
public/builds

# Dependencies
node_modules
public/components
vendor

# Localization
*.mo
*.pot

# Development
.vagrant

# Dotfiles
.env
.DS_Store
Thumbs.db
